<%- include("partials/header") %>



<%- include("partials/navbar") %>

<%- include("partials/banner") %>

<%- include("partials/collage") %>

<!-- ------------------------------- Signup ---------------------------------------------------------------- -->
<div class="modal">
  <p>Form successfully submitted!</p>
</div>

<div class="container email">

  <div class="row">
    
    <div class="col-md-8">
      <h1><strong>Sign Up for Events Notifications!</strong></h1>
      <p>We strive to notify our customers of any upcoming events at least a week in advanced. Sign up to receive emails about events near your city!</p>
    </div>

    <div class="col-md-4 signup-form" >

      <p><strong>Sign Up:</strong></p>

      <form action="/addemail" method="post">

        <div class="form-floating mb-3">
          <input type="input" class="form-control" name="fName" id="fName" placeholder="First Name" required>
          <label for="fName">First Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="input" class="form-control" name="lName" id="lName" placeholder="Last Name" required>
          <label for="lName">Last Name</label>
        </div>

          <select class="form-select mb-3" name="cityName" required>
            <option selected>City</option>
            <% listNames.forEach(function(listName){ %>
              <option><%= listName.name %></option>
            <% }) %>
          </select>
        


        <div class="form-floating mb-3">
          <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
          <label for="email">Email</label>
        </div>
        <div class="d-grid">
          <button class="btn btn-danger" type="submit"><strong>Submit</strong></button>
        </div>
        
      </form>




    </div>


  </div>

</div>

<!-- ------------------------------- Upcoming Events ---------------------------------------------------------------- -->


<div class="container-fluid event-finder bg-danger" id="upcoming-events">
  
    <div class="container">
  
      <div class="row">
        <div class="col text-center">
          <h1><strong>Upcoming Events</strong></h1>
        </div>
      </div>

      <div class="row events">

        <div class="col-4 text-center">
            <p><strong>Event Date</strong></p>
        </div>
        <div class="col-5 text-center">
            <p><strong>Event Name</strong></p>
        </div>
        <div class="col-3 text-center">
            <p><strong>Actions</strong></p>
        </div>

        <hr>


        <% events.forEach(function(event){ %>
            
            <div class="col-4 text-center">
                <h3><%= event.date %></h3>
            </div>
            <div class="col-5 text-center">
                <h3><%= event.name %></h3>
            </div>
            <div class="col-3 text-center">
                <button class="btn btn-danger" onclick="parent.open('<%= event.link %>')" >More Info</button>
                <button class="btn btn-outline-danger" onclick="window.location.href='#contact-us'">Book Booth</button>
            </div>
            
            <hr>
        <% }); %>



    </div>
  </div>

</div>




<%- include("partials/aboutus") %>


<%- include("partials/collage2") %>


<%- include("partials/contactus") %>



<%- include("partials/footer") %>

